.row
  .large-12.columns.large-centered
    %fieldset
      .row
        = form_for @cocktail, remote: true do |f|
          .large-4.columns
            = f.label :name
            = f.text_field :name
          .large-4.columns
            = label_tag 'Ingredients'
            = text_field_tag 'tags'
          .large-4.columns
            = f.label :image
            = f.text_field :image, :value => nil
          .large-12.columns
            = f.label :description, "Enter the recipe here!"
            = f.text_area :description, rows: 4
            .row
              .large-12.columns
                = f.submit nil, :class => 'button success left'
                = link_to_function('Cancel', 'close_new_cocktail_form()', :class => 'button alert left', :style => 'margin-left: 15px;' )