<!DOCTYPE html>
<html>
<head>
  <title>Liquorcabby</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="large-12 columns">
    <h1 class="hero">liquorcabby</h1>
    <%= render :partial => 'layouts/nav' %>
  </div>
</div>
  <%= yield %>

</body>
</html>
